.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 5px 5px 5px;
    width: 200px;
    box-shadow: 2px 2px 2px gray;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}

.statusRed {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}